.header {
  box-shadow: 0px 0px 9px #00000017;
}
.header .user-login-header {
  width: 100%;
  margin: 0;
}
.header .user-login-header .menu--account {
  width: 100%;
  max-height: 30px;
  background-color: #FADB23;
}
.header .user-login-header .menu--account .nav {
  font-size: 12px;
}
.header .user-login-header .menu--account .nav .nav-link {
  color: #657D89;
  font-weight: bold;
  position: relative;
}
.header .user-login-header .menu--account .nav .nav-link:nth-child(2):after {
  content: " ";
  background-image: url("/themes/custom/audit_tool/images/logout-icon.svg");
  position: absolute;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  margin: 0px 5px;
}
.header .user-login-header .menu--account .user-header-text {
  width: 80%;
  text-transform: uppercase;
  float: left;
  font-weight: 500;
  padding: 8px 96px 0;
  font-size: 12px;
  color: #657D89;
}
.header .user-login-header .navbar-brand {
  width: 118.97px;
  height: 50px;
}
.header .user-login-header .site-branding-logo {
  width: 18%;
  float: left;
  padding: 10px 0px 10px 103px;
}
.header .user-login-header #block-adminmainmenudeputy {
  width: 53%;
  padding: 15px 0px;
}
.header .user-login-header #block-adminmainmenudeputy #superfish-admin-main-menu-deputy .sf-depth-1 {
  color: #657D89;
  font-size: 16px;
  font-weight: bold;
}
.header .user-login-header #block-adminmainmenudeputy #superfish-admin-main-menu-deputy li:nth-child(2) {
  right: 0px;
  background-image: url("/themes/custom/audit_tool/images/notitification-icon.svg");
  position: absolute;
  background-repeat: no-repeat;
  margin: 12px 73px;
}
.header .user-login-header #block-adminmainmenudeputy #superfish-admin-main-menu-deputy li:nth-child(2) .material-icons {
  display: none;
}
.header .navbar {
  padding: 0;
}

.audit-dashboard {
  max-width: 1274px;
  margin: auto;
}
.audit-dashboard .block-system-breadcrumb-block .breadcrumb {
  padding: 0.25rem 1rem;
}
.audit-dashboard .block-system-breadcrumb-block .breadcrumb li a {
  color: #A7B5BC;
}
.audit-dashboard .block-system-breadcrumb-block .breadcrumb li.active {
  color: #657D89;
}
.audit-dashboard .sidebar_first {
  padding-left: 0;
}
.audit-dashboard .sidebar_first .block-superfishadmin-sub-menu #superfish-admin-sub-menu .sf-depth-1 {
  float: none;
}
.audit-dashboard .sidebar_first .block-superfishadmin-sub-menu #superfish-admin-sub-menu .sf-depth-1 .sf-depth-1 {
  color: #657D89;
  font-size: 14px;
  border-bottom: 1px solid #F2F2F2;
}

.audit-dashboard-page {
  margin: 31px 0;
}
.audit-dashboard-page #block-audit-tool-views-block-user-registration-view-details {
  background: #FAFAFA 0 0 no-repeat padding-box;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
}
.audit-dashboard-page #block-audit-tool-views-block-user-registration-view-details .table-responsive {
  padding: 0;
  border: 1px solid #EAEAEA;
}
.audit-dashboard-page #block-audit-tool-views-block-user-registration-view-details .table-responsive .table {
  margin: 0;
}
.audit-dashboard-page #block-audit-tool-views-block-user-registration-view-details .table-responsive .table td,
.audit-dashboard-page #block-audit-tool-views-block-user-registration-view-details .table-responsive .table th,
.audit-dashboard-page #block-audit-tool-views-block-user-registration-view-details .table-responsive .table thead,
.audit-dashboard-page #block-audit-tool-views-block-user-registration-view-details .table-responsive .table tr {
  background: #FAFAFA 0 0 no-repeat padding-box;
  border: 0;
}
.audit-dashboard-page #block-audit-tool-views-block-user-registration-view-details .table-responsive .table th {
  color: #202020;
}
.audit-dashboard-page #block-audit-tool-views-block-user-registration-view-details .table-responsive .table td {
  color: #657D89;
}
.audit-dashboard-page #block-audit-tool-generatereports {
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 3px 9px #0000000F;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  margin: 30px 0;
  padding: 16px;
}
.audit-dashboard-page #block-audit-tool-generatereports h1 {
  font-size: 14px;
  font-weight: bold;
}
.audit-dashboard-page #block-audit-tool-generatereports label {
  color: #657D89;
  font-size: 12px;
}
.audit-dashboard-page #block-audit-tool-generatereports #display-status-reports .btn-primary {
  background: #FFFFFF 0 0 no-repeat padding-box;
  border: 1px solid #657D89;
  border-radius: 4px;
  color: #657D89;
}
.audit-dashboard-page .sidebar_second {
  padding-right: 0px;
}

#block-audit-tool-mainpagecontent {
  font-size: 32px;
}

#block-audit-tool-mradmindashboardcoverage,
#block-audit-tool-mradmindashboardplanningcontrol {
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 3px 9px #0000000F;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  padding: 16px;
  margin: 20px 0;
}
#block-audit-tool-mradmindashboardcoverage .content h1,
#block-audit-tool-mradmindashboardplanningcontrol .content h1 {
  font-size: 20px;
}

#main-wrapper {
  padding: 30px 0px;
  background: #FAFAFA 0% 0% no-repeat padding-box;
}

.site-footer {
  background: #FAFAFA 0% 0% no-repeat padding-box;
}

/*# sourceMappingURL=style.css.map */
