.business-process-wrapper {
  #block-audit-tool-mainpagecontent {
    .view-content{
      float: left;
      background: $white;
      padding: 0;
      width: 100%;
    }
      .table-responsive {
        padding: 0px;
        background: #fff;
        table {
          padding: 0px;
          margin: 0px;
          thead {
            tr {
              border: none;
              th {
                background: $grey-bg;
                border: none;
                font: Bold 11px/15px Open Sans;
                color: #23272D;
              }
            }
          }
          tbody {
            tr {
              background: #ffffff;
              border-bottom: 2px solid $grey-bg;
              &:hover {
                background: #EBECFF;
              }
              td {
                font-size: 13px;
                line-height: 19px;
                font-weight: Semibold;
                color: #4F5A67;
                border: none;
                .file {
                  padding-left: 0px;
                }
              }
            }
          }
        }
      }
      .pagination {
        margin-bottom: 0px;
      }
    }
}

.audit-business-process {
  .node-business-process-form {
    .table-responsive {
        .paragraphs-subform {
          .field--type-string {
            margin: 0px;
            padding: 15px;
            width: 25%;
            fieldset {
              width: 100%;
            }
            input {
              width: 100%;
            }
            &:first-child {
              padding-left: 0px;
            }
            &:last-child {
              padding-right: 0px;
            }
          }
        }
      }
      .field-add-more-submit {
        margin-left: 0px;
        margin-bottom: 30px;
      }
      #edit-submit {
        margin-left: 0px;
      }
      #edit-field-business-head-name-wrapper {
        padding: 0px;
      }
  }
}

.node-business-process-edit-form {
  #edit-field-business-head-name-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
.table-responsive  {
  table {
    thead {
      tr {
        padding: 0 15px ;
        th {
          background: $grey-bg;
          padding: 10px;
          border-radius: 4px;
          border: none;
          border-bottom: 1px solid transparent;

          h4 {
            color: $black;
            font-size: 11px;
            font-weight: bold;
            margin: 0px;
          }
        }
      }
    }

    tbody {
      tr {
        background: none;
        border: none;
        td.field-multiple-drag {
          display: none;
        }
        td {
          padding: 0px;
          border: none;
          .js-form-wrapper {
            padding: 0px;
          }
           fieldset {
             padding-left: 0px;
             padding-right: 0px;
             .form-group {
               .form-group {
                float: left;
                width: 100%;
                padding: 0 ;
              }
            }
            .form-group {
              .js-form-type-select {
                width: 100%;
                padding: 0px;
                margin-top: 5px;
              }
            }
          }
          .paragraph-type-top {
            padding: 15px 0px 0;
            margin-top: 20px;
          }

          .paragraphs-subform {
            overflow-x: hidden;
            .field--name-field-score, .field--name-field-functions-qualified  {
              float: left;
              width: 50%;
            }
            .field--name-field-score {
              margin-top: 5px;
            }
            div {
              float: left;
              width: 24%;
              padding: 0 15px;
              &:first-child {
                padding-left: 0px;
              }
              &:last-child {
                padding-right: 0px;
              }
            }
            .field--name-field-target {
              margin-top: 3px;
            }
          }
        }
      }
    }
  }
}
.paragraphs-dropbutton-wrapper {
  input {
    margin-left: 0px;
  }
}
#edit-title-wrapper, #edit-field-business-head-name-wrapper {
  float: left;
  width: 50%;
}
.field--type-entity-reference-revisions {
  float: left;
  width: 100%;
}
}

// Busniess Add more wrapper css
#edit-field-business-process-effective-wrapper{
  clear: both;
}
[id^=field-business-process-efficienc-add-more-wrapper--]{
  .js-form-item{
    float: none;
  }
}

[id^=field-business-process-effective-add-more-wrapper]{
  .js-form-item{
    float: none;
  }
}
