.breadcrumb {
  padding: 0.25rem 1rem;

  li {
    a {
      color: #A7B5BC;
    }

    &.active {
      color: #657D89;
    }
  }
}
#block-audit-tool-pagetitle{
  .title{
    font-size: 22px;
    padding: 24px 0px;
  }
}
