.breadcrumb {
  padding: 0.25rem 1rem;

  li {
    a {
      color: $grey-color;
    }

    &.active {
      color: $link-color;
    }
  }
}

#block-audit-tool-pagetitle {
  .title {
    font-size: 22px;
    padding: 24px 0;
  }
}
label,
legend,
.fieldset-legend,
.media-library-widget-empty-text {
  color: #9BA6B3;
  font-size: 12px;
}
#block-audit-tool-mainpagecontent{
    background: $white 0 0 no-repeat padding-box;
    border: 1px solid $border-color;
    border-radius: 4px;
    padding: 24px;
}
.container{
  max-width: 1274px;
  margin: auto;
}
.layout-main-wrapper {
  padding: 30px 0;
  background: $lightest-blue 0 0 no-repeat padding-box;
}

.site-footer {
  background: $bg-grey 0 0 no-repeat padding-box;
}

#edit-submit {
  width: auto;
  float: left;
  margin: 0 10px;
  border: 1px solid $voilet;
  color: $voilet;
  background: $white;
  border-radius: 4px;
}

.media-library-open-button,
.field-add-more-submit {
  color: $text-color;
  font-size: 12px;
  background: $white;
  border: 1px dotted;
  text-align: inherit;
  width: 20%;
  margin: 0 14px;
}

.field-add-more-submit {
  display: inline-block;
  width: auto;
  position: relative;
  background-image: url(/themes/custom/audit_tool/images/plus-icon.png);
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: 9px;
  padding-left: 34px;
  &:hover {
    background-color: transparent;
    color: $black;
  }
}

.tabledrag-toggle-weight-wrapper, .form-item-revision {
  display: none;
}

#edit-delete {
  margin: 0 10px;
  background: #8B90FA;
  color: #ffffff;
  border-radius: 4px;
  display: inline-block;
  padding: 7px 20px;
  &:hover {
    text-decoration: none;
    background: #676deb;
  }
}
