.user-listing-all-wrapper {
  #block-audit-tool-mainpagecontent {
    float: left;
    background: none;
    padding: 0;
    width: 100%;

    .table-responsive {
      padding: 0;

      table {
        padding: 0;
        margin: 0;

        thead {
          tr {
            border: none;

            th {
              background: $grey-bg;
              border: none;
              font: Bold 11px/15px Open Sans;
              color: #23272D;
            }
          }
        }

        tbody {
          tr {
            background: #ffffff;
            border-bottom: 2px solid $grey-bg;

            &:hover {
              background: #EBECFF;
            }

            td {
              font-size: 13px;
              line-height: 19px;
              font-weight: Semibold;
              color: #4F5A67;
              border: none;
            }
          }
        }
      }
    }
  }

  #block-audit-tool-uploadmoredocumentsformradmmin, #block-audit-tool-askmoreinformationblock {
    margin: 30px 0;

    .button {
      background: $voilet 0 0 no-repeat padding-box;
      border-radius: 4px;
      color: $white;
      padding: 10px;
    }
  }
}
