.breadcrumb {
  padding: 0.25rem 1rem;

  li {
    a {
      color: $grey-color;
    }

    &.active {
      color: $link-color;
    }
  }
}

#block-audit-tool-pagetitle {
  .title {
    font-size: 22px;
    padding: 24px 0;
  }
}
label,
legend,
.fieldset-legend,
.media-library-widget-empty-text {
  color: #9BA6B3;
  font-size: 12px;
}
#block-audit-tool-mainpagecontent{
    background: $white 0 0 no-repeat padding-box;
    border: 1px solid $border-color;
    border-radius: 4px;
    padding: 24px;
    float: left;
    width: 100%;
}
.container{
  max-width: 1274px;
  margin: auto;
}
.layout-main-wrapper {
  padding: 30px 0;
  background: $lightest-blue 0 0 no-repeat padding-box;
}

.site-footer {
  background: $bg-grey 0 0 no-repeat padding-box;
}

#edit-submit {
  width: auto;
  float: left;
  margin: 0 10px;
  border: 1px solid $voilet;
  color: $voilet;
  background: $white;
  border-radius: 4px;
}

.media-library-open-button,
.field-add-more-submit {
  color: $text-color;
  font-size: 12px;
  background: $white;
  border: 1px dotted;
  text-align: inherit;
  width: 20%;
  margin: 0 14px;
}

.field-add-more-submit {
  display: inline-block;
  width: auto;
  position: relative;
  background-image: url(/themes/custom/audit_tool/images/plus-icon.png);
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: 9px;
  padding-left: 34px;
  &:hover {
    background-color: transparent;
    color: $black;
  }
}

.tabledrag-toggle-weight-wrapper, .form-item-revision {
  display: none;
}

#edit-delete {
  margin: 0 10px;
  background: #8B90FA;
  color: #ffffff;
  border-radius: 4px;
  display: inline-block;
  padding: 7px 20px;
  &:hover {
    text-decoration: none;
    background: #676deb;
  }
}

table#field-location-values {
  thead {
    tr {
      padding: 0 15px ;
      background-color: $white;
      th {
        background: $grey-bg;
        padding: 10px;
        border-radius: 4px;
        border: none;
        border-bottom: 1px solid transparent;
        color: $black;
        font-size: 11px;
        font-weight: bold;
        margin: 0px;
        h4 {
          color: $black;
          font-size: 11px;
          font-weight: bold;
          margin: 0px;
        }
      }
    }
  }

  tbody {
    tr {
      background: none;
      background-color: $white!important;
      td.field-multiple-drag {
        display: none;
      }
      td {
        padding: 0px;
        .js-form-wrapper {
          padding: 0px;
        }
         fieldset {
           padding-top: 10px;
           padding-left: 0px;
           padding-right: 0px;
           .form-group {
             .form-group {
              float: left;
              width: 25%;
              padding: 0 15px;
            }
          }
          .form-group {
            .js-form-type-select {
              width: 100%;
              padding: 0px;
              margin-top: 5px;
            }
          }
        }
        .paragraph-type-top {
          padding: 15px 15px 0;
        }

        .paragraphs-subform {
          .field--name-field-score, .field--name-field-functions-qualified  {
            float: left;
            width: 50%;
          }
          .field--name-field-score {
            margin-top: 5px;
          }
        }

        div {
          padding-top: 10px;
          .form-check-input {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.main-content {
	nav.tabs {
    .nav-tabs {
      border-color: $lightest-grey;
  		.nav-item {
  			a {
          color: $black-text-color;
          opacity: 0.3;
          border: none;
          border-bottom: 2px solid transparent;
          &:hover {
            opacity: 1;
            border: none;
            border-color: $voilet;
            background: none;
          }
  			}
  		}
      .active {
        opacity: 1;
        border: none;
        background: none;
        border-bottom: 2px solid $voilet;
        a {
          opacity: 1;
        }
      }
    }
	}
}
