//Dashboard css

.audit-dashboard {
  max-width: 1274px;
  margin: auto;

  .sidebar_first {
    padding-left: 0;

    .block-superfishadmin-sub-menu {
      #superfish-admin-sub-menu {
        .sf-depth-1 {
          float: none;

          .sf-depth-1 {
            color: #657D89;
            font-size: 14px;
            border-bottom: 1px solid #F2F2F2;

            .sf-sub-indicator {
              &:after {
                font-size: 11px;
              }
            }
          }

          ul {
            background: #FAFAFA;
            font-size: 14px;
            left: 14em;

            a {
              color: #657D89;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }
}

.audit-dashboard-page {
  margin: 31px 0;

  #block-audit-tool-views-block-user-registration-view-details {
    background: #FAFAFA 0 0 no-repeat padding-box;
    border: 1px solid #EAEAEA;
    border-radius: 4px;

    .table-responsive {
      padding: 0;
      border: 1px solid #EAEAEA;

      .table {
        margin: 0;

        td,
        th,
        thead,
        tr {
          background: #FAFAFA 0 0 no-repeat padding-box;
          border: 0;
        }

        th {
          color: #202020;
        }

        td {
          color: #657D89;
        }
      }
    }
  }

  #block-audit-tool-generatereports {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 9px #0000000F;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    margin: 30px 0;
    padding: 16px;

    h1 {
      font-size: 14px;
      font-weight: bold;
    }

    label {
      color: #657D89;
      font-size: 12px;
    }

    #display-status-reports {
      .btn-primary {
        background: #FFFFFF 0 0 no-repeat padding-box;
        border: 1px solid #657D89;
        border-radius: 4px;
        color: #657D89;
      }
    }
  }

  .sidebar_second {
    padding-right: 0;
  }
}

#block-audit-tool-mainpagecontent {
  .views-element-container {
    .view-content {
      font-size: 32px;
    }
  }
}

#block-audit-tool-mradmindashboardcoverage,
#block-audit-tool-mradmindashboardplanningcontrol {
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 3px 9px #0000000F;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  padding: 16px;
  margin: 20px 0;

  .content {
    h1 {
      font-size: 20px;
    }
  }
}
//Listing page css

.audittool-front-page {
  .audit-listing-block {
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #F2F4F6;
    border-radius: 4px;
    max-width: 21%;
    margin: 21px;
    padding: 24px;

    .views-field-title {
      color: #23272D;
      font-weight: bold;
      font-size: 16px;
    }

    .views-label {
      display: none;
    }

    .views-field-aggregate-unit-address {
      color: #7E8E9D;
      font-size: 14px;
      margin: 8px 0;

      b {
        font-weight: normal;
      }
    }

    .views-field-edit-node {
      padding: 15px 0;

      .button {
        background: #FFFFFF 0 0 no-repeat padding-box;
        border: 1px solid #5D62E6;
        border-radius: 4px;
        color: #5D62E6;
        padding: 8px 17px;

        &:hover {
          background: #5D62E6 0 0 no-repeat padding-box;
          color: #ffffff;
        }
      }
    }
  }
}
