//Dashboard css

.audit-dashboard {
  max-width: 1274px;
  margin: auto;

  .sidebar_first {
    padding-left: 0;

    .block-superfishadmin-sub-menu {
      #superfish-admin-sub-menu {
        .sf-depth-1 {
          float: none;

          .sf-depth-1 {
            color: $link-color;
            font-size: 14px;
            border-bottom: 1px solid $lightest-grey;

            .sf-sub-indicator {
              &:after {
                font-size: 11px;
              }
            }
          }

          ul {
            background: $bg-grey;
            font-size: 14px;
            left: 14em;

            a {
              color: $link-color;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }
}

.audit-dashboard-page {
  margin: 31px 0;

  #block-audit-tool-views-block-user-registration-view-details {
    background: $bg-grey 0 0 no-repeat padding-box;
    border: 1px solid $bg-light-grey;
    border-radius: 4px;

    .table-responsive {
      padding: 0;
      border: 1px solid $bg-light-grey;

      .table {
        margin: 0;

        td,
        th,
        thead,
        tr {
          background: $bg-grey 0 0 no-repeat padding-box;
          border: 0;
        }

        th {
          color: $light-black;
        }

        td {
          color: $link-color;
        }
      }
    }
  }

  #block-audit-tool-generatereports {
    background: $white 0 0 no-repeat padding-box;
    box-shadow: 0 3px 9px #0000000F;
    border: 1px solid $bg-light-grey;
    border-radius: 4px;
    margin: 30px 0;
    padding: 16px;

    h1 {
      font-size: 14px;
      font-weight: bold;
    }

    label {
      color: $link-color;
      font-size: 12px;
    }

    #display-status-reports {
      .btn-primary {
        background: $white 0 0 no-repeat padding-box;
        border: 1px solid $link-color;
        border-radius: 4px;
        color: $link-color;
      }
    }
  }

  .sidebar_second {
    padding-right: 0;
  }
}

#block-audit-tool-mainpagecontent {
  .views-element-container {
    .view-content {
      font-size: 32px;
    }
  }
}

#block-audit-tool-mradmindashboardcoverage,
#block-audit-tool-mradmindashboardplanningcontrol {
  background: $white 0 0 no-repeat padding-box;
  box-shadow: 0 3px 9px #0000000F;
  border: 1px solid $bg-light-grey;
  border-radius: 4px;
  padding: 16px;
  margin: 20px 0;

  .content {
    h1 {
      font-size: 20px;
    }
  }
}
//Listing page css

.audittool-front-page {
  .audit-listing-block {
    background: $white 0 0 no-repeat padding-box;
    border: 1px solid $border-color;
    border-radius: 4px;
    max-width: 21%;
    margin: 21px;
    padding: 24px;

    .views-field-title {
      color: $black-text-color;
      font-weight: bold;
      font-size: 16px;
    }

    .views-label {
      display: none;
    }

    .views-field-aggregate-unit-address {
      color: $text-color;
      font-size: 14px;
      margin: 8px 0;

      b {
        font-weight: normal;
      }
    }

    .views-field-edit-node {
      padding: 15px 0;

      .button {
        background: $white 0 0 no-repeat padding-box;
        border: 1px solid $voilet;
        border-radius: 4px;
        color: $voilet;
        padding: 8px 17px;

        &:hover {
          background: $voilet 0 0 no-repeat padding-box;
          color: $white;
        }
      }
    }
  }
}
