.header {
  .user-login-header {
    width: 100%;
    margin: 0;
    box-shadow: 0 0 9px #00000017;

    .menu--account {
      width: 100%;
      max-height: 30px;
      background-color: $yellow-color;

      .nav {
        font-size: 12px;

        .nav-link {
          color: $link-color;
          font-weight: bold;
          position: relative;

          &:first-child {
            &:after {
              content: " ";
              background-image: url("/themes/custom/audit_tool/images/logout-icon.svg");
              position: absolute;
              width: 100px;
              height: 100px;
              background-repeat: no-repeat;
              margin: 0 5px;
            }
          }
        }
      }

      .user-header-text {
        width: 87%;
        text-transform: uppercase;
        float: left;
        font-weight: 500;
        padding: 8px 96px 0;
        font-size: 12px;
        color: $link-color;
      }
    }

    .navbar-brand {
      width: 118.97px;
      height: 50px;
    }

    .site-branding-logo {
      width: 18%;
      float: left;
      padding: 10px 0 10px 96px;
    }

    #block-adminmainmenudeputy {
      width: 53%;
      padding: 15px 0;

      #superfish-admin-main-menu-deputy {
        .sf-depth-1 {
          color: $link-color;
          font-size: 16px;
          font-weight: bold;
        }

        li:nth-child(2) {
          right: 0;
          background-image: url("/themes/custom/audit_tool/images/notitification-icon.svg");
          position: absolute;
          background-repeat: no-repeat;
          margin: 12px 73px;

          .material-icons {
            display: none;
          }
        }
      }
    }

    #block-audit-tool-adminmainmenuforauditor { 
      width: 53%;
      padding: 15px 0;

      #superfish-admin-main-menu-for-auditor {
        .sf-depth-1 {
          color: $link-color;
          font-size: 16px;
          font-weight: bold;
        }

        li:last-child {
          right: 0;
          background-image: url("/themes/custom/audit_tool/images/notitification-icon.svg");
          position: absolute;
          background-repeat: no-repeat;
          margin: 12px 73px;

          .material-icons {
            display: none;
          }
        }
      }
    }

    #block-adminmainmenu-4 {
      width: 82%;
      float: right;
      padding: 15px 0;

      #superfish-admin-main-menu {
        .sf-depth-1 {
          color: $link-color;
          font-size: 16px;
          font-weight: bold;
        }

        .menu-bar-class {
          &.sf-depth-1 {
            &:last-child {
              right: 0;
              background-image: url("/themes/custom/audit_tool/images/notitification-icon.svg");
              position: absolute;
              background-repeat: no-repeat;
              margin: 12px 78px;

              .material-icons {
                display: none;
              }
            }
          }

          ul {
            background: $white;

            a {
              color: $link-color;
            }
          }
        }
      }
    }
  }

  .navbar {
    padding: 0;
  }
}
