.node-internal-audit-edit-form {
  > div, .js-form-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }

  #edit-title-wrapper {
    padding: 0px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    label {
      background: $grey-bg;
      padding: 10px;
      border-radius: 4px;
      border: none;
      border-bottom: 1px solid transparent;
      color: $black;
      font-size: 11px;
      font-weight: bold;
      margin: 0 0 15px;
      width: 100%;
    }
    fieldset {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  #edit-field-ia-department-wrapper, #edit-field-unit-wrapper,
  #edit-field-ia-section-wrapper, #edit-field-audit-type-wrapper {
    float: left;
    width: 50%;
  }
  #edit-field-internal-audit-type-wrapper, #edit-field-audit-date-wrapper, #edit-field-queries-wrapper {
    float: left;
    width: 100%;
  }
  #edit-field-audit-date-wrapper {
    padding: 0 15px;
    fieldset {
      &:first-child {
        padding-left: 0px;
      }
    }
    .description {
      display: none;
    }
  }
  #edit-field-queries-wrapper {
    padding: 0 15px;
    table {
      thead {
        tr {
          padding: 0 15px ;
          th {
            background: $grey-bg;
            padding: 10px;
            border-radius: 4px;
            border: none;
            border-bottom: 1px solid transparent;

            h4 {
              color: $black;
              font-size: 11px;
              font-weight: bold;
              margin: 0px;
            }
          }
        }
      }

      tbody {
        tr {
          background: none;
          td.field-multiple-drag {
            display: none;
          }
          td {
            padding: 0px;
            .js-form-wrapper {
              padding: 0px;
            }
             fieldset {
               .form-group {
                 .form-group {
                  float: left;
                  width: 100%;
                  padding: 0 ;
                }
              }
              .form-group {
                .js-form-type-select {
                  width: 100%;
                  padding: 0px;
                  margin-top: 5px;
                }
              }
            }
            .paragraph-type-top {
              padding: 30px 15px 0;
              margin-top: 20px;
            }

            .paragraphs-subform {
              .field--name-field-score, .field--name-field-functions-qualified  {
                float: left;
                width: 50%;
              }
              .field--name-field-score {
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
    fieldset {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  #edit-field-queries-add-more {
    margin-left: 0px;
  }
  .field--type-list-string {
    .radio {
      >div {
        margin-bottom: 10px;
        input {
          margin-top: 2px;
        }
      }
    }
  }
  #edit-field-queries-wrapper {
    table {
      tbody {
          tr {
            td {
              fieldset {
              .js-form-wrapper {
                .paragraphs-subform {
                  .field--name-field-description, .field--name-field-checked {
                    float: left;
                    width: 50%;
                  }
                  .field--name-field-description {
                    padding-right: 15px;
                  }
                  .field--name-field-checked {
                    padding-left: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
