
//Listing page css

.audittool-front-page {
  background: $lightest-blue 0 0 no-repeat padding-box;
}
//Business_process css and Department css

.audit-business-process {
  .js-form-item {
    float: left;
  }
  .field--name-field-business-head-name,
  .field--name-title,
  .field--type-entity-reference,
  .field--type-list-integer {
    width: 25%;
    float: left;
    padding: 0;

    fieldset {
      width: 100%;
    }

    .js-form-type-select {
      label {
        margin-bottom: 11px;
      }
    }
  }

  .field--widget-media-library-widget {
    width: 100%;
  }

  .field--type-language {
    display: none;
  }

  .field--type-entity-reference-revisions {
    .table-responsive {
      .paragraph-type-title,
      .tabledrag-toggle-weight-wrapper {
        display: none;
      }

      .field-label {
        background: #F8F9FA 0 0 no-repeat padding-box;
        border: 0;
        padding: 8px 18px;

        .label {
          font-size: 15px;
          margin: 0;
          color: #23272D;
        }
      }

      .field-multiple-drag {
        display: none;
      }

      tr {
        border: 0;
      }

      .col-auto,
      td {
        padding: 0;
        margin: 0;
        background: $white;
        border: 0;
      }

      .field--type-integer,
      .field--type-string {
        width: 25%;
        float: left;
        padding: 15px;
        fieldset {
          width: 100%;
        }

        .form-text {
          margin-top: 0;
        }
      }
    }
  }

  #edit-continue-dept {
    width: 17%;
    background: #5D62E6 0 0 no-repeat padding-box;
    border-radius: 4px;
    color: $white;
  }
}

.audit-section-process {
  .node-section-form {
    .layout-region-node-main {
      padding: 0;
    }

    .field--name-field-section-head,
    .field--name-field-select-department-type,
    .field--type-string {
      width: 33.3%;
      float: left;
      padding: 0px;
    }

    .js-form-item {
      color: #212529;
      font-size: 14px;
    }
    .field--name-field-assembly,
    .field--name-field-shift {
      width: 50%;
      float: left;
    }

    .field--name-field-shift {
      margin-bottom: 69px;
    }
  }
}

//Section page css
.holiday_list_table{
  .field__label{
    display: none;
  }
}

.node-section-form {
  .field--widget-media-library-widget {
    float: left;
    width: 100%;
  }
}

//unit node page css
.node-unit-edit-form {
    .field--name-field-field-months-for-the-audit{
      .checkbox{
        display: flex;
      }
    }
}

.main-contentt {
  .block {
    table {
      thead {
        tr {
          padding: 10px;
          th {
            background: #F8F9FA;
            font-size: 11px;
            color: #23272D;
            font-weight: bold;
            line-height: 15px;
            font-family: Open Sans;
            border: none;
          }
        }
      }
    }
  }
}

#block-audit-tool-mradmindashboardcoverage {
  .table-responsive-wrapper {
    .table-responsive {
      display: table;
    }
  }
}
