.node-internal-documents-form {
  #edit-field-files-wrapper, #edit-field-verified-wrapper {
    fieldset {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  table {
    thead {
      tr {
        padding: 0 15px ;
        background-color: $white;
        th {
          background: $grey-bg;
          padding: 10px;
          border-radius: 4px;
          border: none;
          border-bottom: 1px solid transparent;
          color: $black;
          font-size: 11px;
          font-weight: bold;
          margin: 0px;
          h4 {
            color: $black;
            font-size: 11px;
            font-weight: bold;
            margin: 0px;
          }
        }
      }
    }

    tbody {
      tr {
        background: none;
        background-color: $white!important;
        td.field-multiple-drag {
          display: none;
        }
        td {
          padding: 0px;
          .js-form-wrapper {
            padding: 0px;
          }
           fieldset {
             padding-top: 10px;
             padding-left: 0px;
             padding-right: 0px;
             .form-group {
               .form-group {
                float: left;
                width: 25%;
                padding: 0 15px;
              }
            }
            .form-group {
              .js-form-type-select {
                width: 100%;
                padding: 0px;
                margin-top: 5px;
              }
            }
          }
          .paragraph-type-top {
            padding: 15px 0px 0;
          }

          .paragraphs-subform {
            .field--type-datetime, .field--type-string {
              float: left;
              width: 50%;
              fieldset {
                width: 100%;
                input {
                  width: 100%;
                }
              }
            }
            .field--name-field-score {
              margin-top: 5px;
            }
            .field--type-datetime {
              padding-right: 15px;
              label {
                margin-bottom: 0px;
                margin-top: 15px;
              }
            }
            .field--type-string {
              padding-left: 15px;
            }
          }

          div {
            padding-top: 0px;
            .form-check-input {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
  .paragraphs-dropbutton-wrapper {
    input {
      margin-left: 0px;
    }
  }
}

.node-pre-audit-records-form {
  #edit-field-files-wrapper, #edit-field-accumlative-kpi-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
  #edit-field-valid-upto-wrapper, #edit-field-qam-wrapper {
    fieldset {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  #edit-field-qam-wrapper {
    .fieldset-wrapper {
      fieldset {
        float: left;
        width: 50%;
      }
    }
    .js-form-type-entity-autocomplete {
      padding-right: 15px;
    }
    .form-type-textfield {
      padding-left: 15px;
    }
  }
  #edit-field-verified-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
  #edit-field-reasons-data-wrapper {
    table {
      thead {
        tr {
          padding: 0 15px ;
          background-color: $white;
          th {
            background: $grey-bg;
            padding: 10px;
            border-radius: 4px;
            border: none;
            border-bottom: 1px solid transparent;
            color: $black;
            font-size: 11px;
            font-weight: bold;
            margin: 0px;
            h4 {
              color: $black;
              font-size: 11px;
              font-weight: bold;
              margin: 0px;
            }
          }
        }
      }

      tbody {
        tr {
          background: none;
          background-color: $white!important;
          td.field-multiple-drag {
            display: none;
          }
          td {
            padding: 0px;
            .js-form-wrapper {
              padding: 0px;
            }
             fieldset {
               padding-top: 10px;
               padding-left: 0px;
               padding-right: 0px;
               .form-group {
                 .form-group {
                  float: left;
                  width: 25%;
                  padding: 0 15px;
                }
              }
              .form-group {
                .js-form-type-select {
                  width: 100%;
                  padding: 0px;
                  margin-top: 5px;
                }
              }
            }
            .paragraph-type-top {
              padding: 15px 0px 0;
            }

            .paragraphs-subform {
              .field--type-datetime, .field--type-string {
                float: left;
                width: 50%;
                fieldset {
                  width: 100%;
                  input {
                    width: 100%;
                  }
                }
              }
              .field--name-field-score {
                margin-top: 5px;
              }
              .field--type-datetime {
                padding-right: 15px;
                label {
                  margin-bottom: 0px;
                  margin-top: 15px;
                }
              }
              .field--type-string {
                padding-left: 15px;
              }
            }

            div {
              padding-top: 0px;
              .form-check-input {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
  .paragraphs-dropbutton-wrapper {
    input {
      margin-left: 0px;
    }
  }
  #edit-field-kpi-status-wrapper {
    padding-left: 0px;
  }
}
.node-pre-audit-manuals-form {
  #edit-title-wrapper, #edit-field-description-wrapper {
    float: left;
    width: 50%;
  }
  #edit-field-qam-wrapper {
    float: left;
    width: 100%;
    fieldset {
      padding-left: 0px;
      padding-right: 0px;
    }
    .js-form-type-entity-autocomplete, .form-type-textfield {
      float: left;
      width: 50%;
    }
    .js-form-type-entity-autocomplete {
      padding-right: 15px;
    }

    .form-type-textfield {
      padding: 0 15px 0 30px;
    }
  }
}

.view-planned-audit-listing {
  .table-responsive {
    padding: 0px;
    background: #fff;
    table {
      padding: 0px;
      margin: 0px;
      thead {
        tr {
          border: none;
          th {
            background: $grey-bg;
            border: none;
            font: Bold 11px/15px Open Sans;
            color: #23272D;
          }
        }
      }
      tbody {
        tr {
          background: #ffffff;
          border-bottom: 2px solid $grey-bg;
          &:hover {
            background: #EBECFF;
          }
          td {
            font-size: 13px;
            line-height: 19px;
            font-weight: Semibold;
            color: #4F5A67;
            border: none;
            .file {
              padding-left: 0px;
            }
          }
        }
      }
    }
  }
}

.planned-audit-listing {
  #block-audit-tool-mainpagecontent {
    padding-left: 0px;
    padding-right: 0px; 
  }
}
