html {
  font-size: 16px;
}

body {
  font-family: $font-primary;
  -webkit-font-smoothing: auto;
  background: $bg-grey;
  color: $dark-grey;
}

a, .link {
	color: $link-color;
	&:hover {
		text-decoration: none;
	}
}

:focus {
  // outline: none !important;
}

img {
  max-width: 100%;
}

.p-tb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.dropdown-hover {
	margin: 0px;
	padding: 0px;
	list-style: none;
	.menu-line {
		padding: 0.6rem 0rem;
		border-right: 1px solid $light-grey;
		height: 40px;
	}
	li {
		position: relative;
    display: inline-block;
    padding: 0.6rem 1rem;
		font-size: 0.9rem;
		vertical-align: middle;
			a {
				color: $dark-grey;
			}
		.fa-angle-down {
			font-size: 1.4rem;
			display: inline-block;
			vertical-align: bottom;
			margin-left: 0.4rem;
		}
		.dropdown-menu-hover {
			display: none;
			position: absolute;
			top: 100%;
			background: $white;
			border: 1px solid $lighter-grey;
			min-width: 150px;
			margin: 0px;
			padding: 0px;
			list-style: none;
			z-index: 9;
				li {
					display: block;
					padding: 0rem;
				.dropdown-item-hover {
					display: block;
			    padding: 0.6rem 1rem;
					&:hover {
						background: $lighter-grey;
					}
				}
			}
		}
		&:hover {
			.dropdown-menu-hover {
				display: block;
			}
		}
	}
}

.p-lr-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.grey-bg {
	background: $bg-grey;
}

.readmore-link {
	text-transform: uppercase;
}

.arrow-icon-arrow {
	position: relative;
	width: 34px;
	display: inline-block;
	vertical-align: middle;
}

.arrow-arrow {
	position: absolute;
	top: -3px;
	width: 65%;
	height: 3px;
	right: 10px;
	background-color: $text-blue;
	animation: arrow 700ms linear infinite;
}

.arrow-arrow::after {
	content: '';
  position: absolute;
  width: 40%;
  height: 3px;
  top: -2px;
  right: -2px;
  background-color: $text-blue;
  transform: rotate(45deg);
}

.arrow-arrow::before {
	content: '';
	position: absolute;
	width: 40%;
	height: 3px;
	top: 2px;
	right: -2px;
	background-color: $text-blue;
	transform: rotate(-45deg);
}

.blue-bg {
	background: $dark-blue;
}

.white-button {
	button {
		background: $white;
		color: $blue;
		padding: 0.7rem 2.4rem;
		text-transform: uppercase;
		&:hover {
			text-decoration: none;
			opacity: 0.8;
		}
	}
}

.light-blue-bg {
	background-color: $light-blue;
}

.m-tb-15 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.p-tb-15 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.container-fluid  {
  max-width: 1360px;
}
