form.views-exposed-form {
	@extend .highlight;
	.path-planned-mr-audit-listing & {
	  display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
}

form.node-planned-events-form,
form.node-planned-events-edit-form {
  > fieldset {
  	 @extend .card;
  	 > legend {
      @extend .h4;
      text-transform: uppercase;
      @extend .text-primary;
      position: relative;
      top: 30px;
  	 }
  	 > .fieldset-wrapper {
  	 	display: flex;
  	 	flex-wrap: wrap;
  	 	align-items: center;
  	 	justify-content: space-between;
  	 }
  }
  >#planning-dates {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0;
    > div {
      flex: 1 1 50%;
    }
  }
  >#planning-dates div.field--type-datetime {
     @extend .card;
     fieldset {
       legend {
         @extend h4;
       }
       .fieldset-wrapper > div {
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         justify-content: space-between;
         max-width: 320px;
       }
     }
  }
  >#planning-dates div.field--type-timestamp {
  	 font-size: 0;
  	 @extend .card;

  	 @extend .form-item;
  	 margin-top: 0;
  	 margin-bottom: 0;
  	 #edit-field-start-date-0-value,
  	 #edit-field-end-date-0-value {
  	 	display: flex;
  	 	flex-wrap: wrap;
  	 	align-items: center;
  	 	justify-content: space-between;
      max-width: 320px;
  	 }

  }
  > .form-type-vertical-tabs {
  	width: 100%;
  	display: inline-block;
  }
}

table.cols-7 {
  @extend .table-striped;
  @extend .table-responsive;
  caption {
    @extend .h1;
    @extend .text-disabled;
    @extend .highlight;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
}

form.node-internal-documents-form,
form.customer-manual-parts-parts-form {
  input.text-full {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  select#edit-field-verified {
    width: 100%;
  } 
  fieldset.media-library-widget {
    @extend .highlight;
  }
  table.field-multiple-table {
    .paragraph-type-top {
       .paragraphs-dropbutton-wrapper {
        padding-right: 20px;
       }
    }
  }
}

form.node-business-process-form,
form.node-procedures-form,
form.node-business-process-edit-form,
form.node-section-edit-form,
form.node-customers-manual-edit-form,
form.holidays-holidays-form,
form.user-form,
form.holidays-holidays-edit-form   {
  table.field-multiple-table {
    .paragraph-type-top {
       .paragraphs-dropbutton-wrapper {
        padding-right: 20px;
       }
    }
  }
  .paragraphs-subform {
    max-width: 480px;
  }
  input.text-full {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
input[type="number"] {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  &:focus {
    border-color: $color-accent;
  }
}

form.node-department-form,
form.node-section-form,
form.node-department-edit-form,
form.node-procedures-form,
form.node-section-edit-form,
form.node-customers-manual-form,
form.node-customers-manual-edit-form,
form.holidays-holidays-form,
form.user-form     {
  input.text-full,
  input.form-autocomplete {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .field--widget-media-library-widget  {
    @extend .highlight;
    legend {
      @extend h4;
    }
  }
}

form.user-form {
  input[type="password"],
  input[type="email"],
  input[type="text"] {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}


form.csv-entity-import {
  .form-item-users-upload {
    @extend .highlight;
  }
}