form.node-external-audit__form,
form.taxonomy-term-decision-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  input.text-full {
    width: 100%;
    max-width: 100%;
  }
  > .field--name-title,
  .form-actions,
  .field--name-field__lead-auditor,
  .field--name-field-auditor-s-name {
    flex: 0 0 100%;
  }
  > .field--type-text-with-summary {
    flex: 0 0 100%;
    textarea {
      width: 100%;
      max-width: 100%;
    }
    .filter-wrapper {
      display: none;
    }
  }
}

form.node-clauses-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  .form-type-vertical-tabs,
  .form-actions {
    flex: 0 0 100%;
  }
  .form-actions {
    input#edit-preview {
      @extend .btn-accent;
    }
  }
}

form.taxonomy-term-decision-form,
form.taxonomy-term-scope-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
   input.text-full {
    width: 100%;
    max-width: 100%;
  }
  > .field--name-name {
    flex: 0 0 100%;
  }
  > .field--name-description {
    flex: 0 0 100%;
    textarea {
      width: 100%;
      max-width: 100%;
    }
    .filter-wrapper {
      display: none;
    }
  }
  details.form-wrapper {
    flex: 0 0 100%;
  }
}
