form.node-internal-audit-form,
form.node-internal-audit-edit-form,
form.node-procedures-edit-form  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .field--name-title,
  .field--type-timestamp,
  .field--name-field-queries,
  .form-type-vertical-tabs,
  .form-actions {
    flex: 0 0 100%;
  }
  input.text-full {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .field--type-timestamp {
    @extend .highlight;
    @extend .h6;
    > div {
      @media (min-width: 768px) {
         max-width: 50%;
      }
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  textarea {
    width: 100%;
    max-width: 100%;
  }
  .form-type-entity-autocomplete {
    input {
      max-width: 100%;
      width: 100%;
    }
  }
  .paragraphs-subform {
     @extend .card;
  }
}
li.restore.dropbutton-action {
  margin-top: 10px;
}
details {
  @extend .highlight;
  summary {
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}

form.node-assembly-form,
form.node-manufacturing-process-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .field--name-title,
  .form-actions {
     flex: 0 0 100%;
  }
  .field--name-title {
    input.text-full  {
      width: 100%;
      max-width: 100%;
    }
  }
}

#block-audit-tool-csvimportblock form {
  @extend .highlight;
}

form.node-procedures-edit-form {
  .field--name-field-create-procedure {
    flex: 0 0 100%;
    .paragraphs-subform {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .field--name-field-procedure-document {
        @extend .highlight;
      }
    }
  }
}