#block-audit-tool-userlogin {
  > h2 {
    text-align: center;
  }
  > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      max-width: 360px;
      margin: 10px auto;
      @extend .highlight;
      width: 100%;
  }
  .card-item.card-actions {
    margin-top: 48px;
    background: #f5f5f5;
    border-top: none;
    padding: 10px 24px;
  }
}
form.user-login-form {
  .card-item.card-actions {
    margin-top: 48px;
    background: #f5f5f5;
    border-top: none;
    padding: 10px 24px;
  }
}
