form.planning-control-form {
	@extend .highlight;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

details {
	&#findings,
	&#qualifications,
	&#scheduling {
		@extend .highlight;
		summary {
			cursor: pointer;
			&:focus {
				outline: none;
			}
		}
	}
}
.views-field-edit-node {
  @media (min-width: 768px) {
    text-align: right;
  }
}
div {
	&#block-audit-tool-auditfindingcontrolscheduled {
		.fieldset-wrapper {
       a {
         &#product-list,
         &#process-list,
         &#procedure-list {
           display: inline-block;
           margin: 10px auto 20px;
           @extend .button;
         }
       }
    }
	}
}

//edit unit content type
form {
  &.node-unit-edit-form,
  &.node-unit-form {
  .form-item {
     input[type="text"],textarea {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
     }
  }
  .field--type-integer {
    label {
      width: 100%;
      display: inline-block;
    }
    .description {
      color: #ccc;
    }
  }
  .field--type-address {
     details {
       @extend .highlight;
       summary {
         cursor: pointer;
         &:focus {
           outline: none;
         }
       }
     }
  }
  .field--name-field-shift {
      .form-checkboxes {
        display: flex;
        flex-wrap: wrap;
      }
  }
  .field--type-daterange {
    @extend .card;
    margin-bottom: 10px;
      fieldset {
        > legend {
          margin-bottom: 10px;
          span {
            color: $color-accent;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
        .fieldset-wrapper {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          @extend .divider-top;
          padding-top: 10px;
          > h4 {
            margin:0;
            font-weight: 600;

          }
          > div {
            margin: 0 10px;
          }
      }
    }
  }
  /*.form-actions {
    input[type="submit"] {
      @extend .btn;
      @extend .btn-raised;
      &#edit-submit {
       @extend .btn-colored;
      }
    }
  }
  input[type="submit"] {
    &.field-add-more-submit {
      @extend .btn;
      @extend .btn-raised;
      @extend .btn-colored;
    }
  }*/
  .field--name-field-sales-turnover,
  .field--name-field-contributed-sales ,
  .field--name-field-total-members,
  .field--name-field-frequency {
    .form-item {
      label {
         margin-right: 10px;
      }
      input[type="number"] {
        border-bottom: 1px solid;
        &:focus {
          border-color: $color-accent;
        }
      }
    }
  }
}
}

//register form
form.user-register-form {
  max-width: 600px;
  .form-item-roles,
  .field--name-field-department {
     select {
       width: 100%;
       max-width: 100%;
       min-width: 100%;
     }
  }
  .field--type-mobile-number {
     .mobile-number-field {
       display: flex;
       flex-wrap: wrap;
       align-items: flex-end;
       label {
        flex: 0 0 100%;
       }
       .form-type-select {
        flex: 0 0 20%;
       }
       .form-type-textfield {
        flex: 0 0 80%;
       }
     }
  }
 /* input[type="submit"] {
    @extend .btn-raised;
    @extend .btn-colored;
    @extend .btn;
  }*/
}

//preview page

.node-preview-container {
  @extend .card;
}

//supplier form

form.node-supplier-form {
  input[type="text"],select,textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .field--type-address {
    details {
      @extend .highlight;
      summary {
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
.unit-details  {
  @extend .highlight;
  > h3 {
    display: none;
  }
  span.views-label {
    width: 100%;
    display: inline-block;
    @extend .h4;
    position: relative;
  }
  .views-field {
    &+ .views-field {
      @extend .divider-top;
    }
  }
}

#block-audit-tool-generatereports {
  @extend .highlight;
  h1 {
    @extend .h3;
    text-transform: uppercase;
  }
}

div#block-audit-tool-riskmanagement {
 > fieldset {
   > div.fieldset-wrapper {
     @media (min-width: 1025px) {
        display: flex;
        flex-wrap: wrap;
         > div {
           flex: 0 0 50%;
           .highcharts-container {
             width: 100% !important;
             > svg {
                width: 100% !important;
                position: absolute;
                height: 100% !important;
                left: 0;
                top: 0;
             }
           }
         }
     }
   }
 }
}

.highcharts-container {
  width: 100% !important;
  position: relative;
  > svg {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.sidebar {
  .menu.sf-menu {
    li {
      a {
        color: $blue-color;
      } 
    }
  }
}