@media (max-width: 767px) {
	#block-audit-tool-tabs {
		ul.tabs.primary {
			flex-wrap: wrap;
		}
	}
	#block-audit-tool-mainpagecontent .views-element-container > div,
	#block-audit-tool-mradmindashboardcoverage,
	#block-audit-tool-views-block-auditor-selection-export-auditor-selection-detail,
	details#findings,details#qualifications,details#kpi,details#scheduling  {
	  width: 100%;
	  overflow-x: scroll;
	}

	.sidebar {
		width: 100%;
		display: inline-block;
	}
	#block-auditplanningblock-2 {
		> .fc {
			> .fc-toolbar.fc-header-toolbar {
				flex-wrap: wrap;
			}
		}
	}
}