#navbar {
  .main-navigation-menu {
  	> ul {
  		li {
  			a {
          &+ul {
            background: #fff;
            color: rgba(0, 0, 0, 0.87);
            * {
              color: inherit;
              &:hover {
                border-color: inherit;
              }
            }
            a.is-active {
              opacity: 0.8;
            }
          }
  				display: block;
			    line-height: 20px;
			    border-bottom: 2px solid transparent;
			    font-size: 14px;
			    font-weight: 500;
			    color: #FFF;
			    text-transform: uppercase;
          span.new {
              background: rgba(255,145,0,0.8);
              padding: 3px 6px;
              border-radius: 100%;
              text-shadow: 1px 1px #000;
              &+ i.material-icons {
                color: rgba(255,145,0,0.8);
              }
          }
			    &:hover {
			    	border-color: rgba(255, 255, 255, 0.5);
			    }
          &.notify {
           padding-bottom: 5px;
          }
			    &.is-active {
			    	border-color: #fff;
			    }
			    &.menuparent {
			    	&:hover {
			    		border-color: transparent;
			    	}
			    }
  			}
  		}
  	}
  }
}

#drawer {
  ul.menu {
    margin: 0;
    span.new {
      background: rgba(255,145,0,0.8);
      padding: 3px 6px;
      border-radius: 100%;
      text-shadow: 1px 1px #000;
      &+ i.material-icons {
        color: rgba(255,145,0,0.8);
      }
    }
    li.menu-item {
      &.expanded {
        ul.menu {
          li {
            a {
              padding: 8px 27px;
              font-weight: 400;
              font-size: 95%;
              &.is-active {
                text-decoration: underline;
                font-weight: 500;
              }
            }
          }
        }
        &.active-trail {
          ul.menu {
            li:not(.active-trail) {
              a {
                color: rgba(0, 0, 0, 0.87);
              }
            }
          }
        }
      }
    }
  }
}


