//Fonts
$font-primary: 'Open Sans', sans-serif;

//Colors
$menu-blue: #341988;
$blue: #3d288d;
$dark-blue: #003486;
$text-blue: #005e98;
$light-blue: #476cc3;
$lighter-grey: #ececec;
$light-grey: #d9d9d9;
$dark-grey: #414141;
$white: #ffffff;
$black: #000000;
$light-black: #767676;
$bg-grey: #fafafa;
$border-grey: #dee5e8;
$link-color: #657d89;
$yellow-color: #fadb23;
$grey-color: #A7B5BC;
$lightest-grey: #F2F2F2;
$bg-light-grey: #EAEAEA;
$light-black: #202020;
$voilet: #5D62E6;
$text-color: #7E8E9D;
$border-color: #F2F4F6;
$black-text-color: #23272D;
$lightest-blue: #FCFDFF;




$more-info-btn: #d66316;
