input[disabled="disabled"],
input:disabled {
	padding-left: 5px !important;
	color: #1c1c1c;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKrVq36zwjjgzhhYWGMYAEYB8RmROaABADeOQ8CXl/xfgAAAABJRU5ErkJggg==) repeat;
  &::placeholder {
  	color: #1c1c1c !important;
	}
}


a,
input,
select,
textarea,
button {
	&:focus {
		outline: none;
	}
  .focused & {
    outline: none;
  }
}
