#content {
	margin-top: 50px;
}

table {
	* {
		font-size: 14px;
	}
}

@media (min-width: 1024px) {
	.no-sidebars main.container {
		max-width: 1024px;
    width: 100%;
	}
} 

form {
  .form-type-number {
    label {
      width: 100%;
      display: inline-block;
    }
  }
	label.form-required {
		&:after {
			content: "*";
			display: inline-block;
			color: $color-red;
			padding-left: 2px;
		}
	}
}


#checklist-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
   > div {
    @extend .highlight;
     @media (min-width: 600px) {
       flex: 0 0 25%;
     }
     @media (max-width: 599px) {
       flex: 0 0 50%;
     }
     input.form-text {
      text-transform: uppercase;
     }
   }
}