#content {
	margin-top: 50px;
}

table {
	* {
		font-size: 14px;
	}
}

@media (min-width: 1024px) {
	.no-sidebars main.container {
		max-width: 1024px;
    width: 100%;
	}
} 

form {
	label.form-required {
		&:after {
			content: "*";
			display: inline-block;
			color: $color-red;
			padding-left: 2px;
		}
	}
}
